/** {
  margin: 0;
  padding: 0;
}*/

body {
  margin: 0 0;
  font-family: "Reem Kufi Fun", sans-serif;
  color: rgb(64, 61, 61);
}

/* Hero */

.section-hero {
  background-image: url(../glacier/glacier.png);
  margin: 0 0;
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero--container {
  max-width: 90vh;
  display: grid;
  grid-template-columns: auto;
  /* justify-content: center; */
  /* align-items: center; */

  box-sizing: border-box;
}

.section-hero--titlebox {
  width: auto;
  background-color: transparent;
  color: #fff;
  height: 15rem;
  border-radius: 20px 20px 0 0;
  border: 25px solid black;
}

.section-hero--description {
  text-align: center;
  font-weight: 500;
  color:#dee2e6
  width: auto;
  height: 20rem;
  border-radius: 0 0 20px 20px;
  color: white;
  /* background-color: #1ccad8; */
  background: linear-gradient(0.49turn, black 30%, #3bc9db);
}

.section-hero--heading {
  color: #fff0f6;
  font-size: 3rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.section-hero--cta {
  text-decoration: none;
  font-size: 2.5rem;
  color: #ffd8a8;
}
