/** {
  margin: 0;
  padding: 0;
}*/

body {
  margin: 0 0;
  font-family: "Reem Kufi Fun", sans-serif;
  color: rgb(64, 61, 61);
}

/* Hero */

.section-hero {
  background-image: url(../glacier/glacier.png);
  margin: 0 0;
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero--container {
  max-width: 90vh;
  display: grid;
  grid-template-columns: auto;
  /* justify-content: center; */
  /* align-items: center; */

  box-sizing: border-box;
}

.section-hero--titlebox {
  width: auto;
  background-color: transparent;
  color: #fff;
  height: 15rem;
  border-radius: 20px 20px 0 0;
  border: 25px solid black;
  display: flex;
  flex-direction: column;
}

.section-hero--heading {
  padding-left: 1.5rem;
  color: #fff0f6;
  text-shadow: 1px 7px 3px rgba(7, 7, 8, 1);
  font-size: 330%;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

.section-hero--cta {
  max-width: 22rem;
  height: 5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-left: 3%;
  margin-right: 4%;
  margin-top: 3%;
  border-radius: 25px;
  text-decoration: none;
  font-size: 2.3rem;
  /* color: #ffd8a8; */
}

.section-hero--cta:before {
  content: "";
  background: linear-gradient(
    40deg,
    #8ce99a,
    #748ffc,
    #364fc7,
    #a5d8ff,
    #1864ab,
    #99e9f2,
    #0b7285,
    #96f2d7,
    #087f5b
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.section-hero--cta:active {
  color: #000;
}

.section-hero--cta:active:after {
  background: transparent;
}

.section-hero--cta:active:after {
  background: transparent;
}

.section-hero--cta:hover:before {
  opacity: 1;
}

.section-hero--cta:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.section-hero--description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.3rem;
  text-align: center;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #dee2e6;
  /* width: auto; */
  height: 36rem;
  border-radius: 0 0 20px 20px;
  color: black;
  /* background-color: #1ccad8; */
  background: linear-gradient(0.49turn, black 30%, #3bc9db);
}

.card {
  grid-area: 1 / 1 / 2 / 2;
  box-shadow: -1px 14px 2px -3px rgba(66, 68, 90, 1);
  margin-left: 10%;
  margin-bottom: 10%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  /* width: 40%; */
}
.card-header img {
  max-width: 100%;
  /* height: 20%; */
  object-fit: fill;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  min-height: 50%;
}

.card-body p {
  font-size: 0.9rem;
  margin: 0 0 40px;
  text-align: left;
  /* padding: 0 1rem 1rem 1rem; */
}

.card2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 10%;
  margin-top: 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: -1px 14px 2px -3px rgba(66, 68, 90, 1);
  overflow: hidden;
  max-height: 85%;
  /* width: 40%; */
}
.card2-header img {
  max-width: 100%;
  /* height: 20%; */
  object-fit: scale-down;
}
.card2-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 30%; */
}

.card2-body p {
  font-size: 1rem;
  margin: 0 0 40px;
  padding: 0 1rem 0 1rem;
  text-align: left;
}
